{% extends 'base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block 'body' %}
<div class="login-container">
    <div class="blur-background"></div>
    <div class="text-center d-flex flex-column justify-content-center login-form">
        <h1 class="text-center mb-5">Login</h1>
        <form class="d-flex flex-column align-items-center gap-3 w-75 m-auto" action="" method="post">
            {% csrf_token %}
            {{ login_form }}
            <a href="{% url 'password_reset_request' %}" style="color: burlywood;"><p>forget Password?</p></a>
            <button class="w-25 btn bg-dark bg-gradient text-white" type="submit">Sign In</button>
        </form>
    </div>
</div>

{% endblock %}