{% extends 'base.html' %}

{% block 'title' %}
    <title>authentication failed</title>
{% endblock %}


{% block 'body' %}
<main>
    <section class="py-5 container home-hero">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light text-black">authentication failed 403</h1>
                <h4 class="text-danger">you have to login first to enter this page</h4>
            </div>
        </div>
    </section>
</main>
{% endblock %}
